

.alinear{
    text-align: center;
}

.dark{
    background-color: #1D1935;
}

.text-context-light{
    color: white;
}

.icono{
    background-image: url(/assets/icon/curva-verde.svg) !important;
    background-repeat: no-repeat !important;
    background-size: auto 100vh !important;
    height: 100vh !important;
    width: 100vw !important;
    
}

input[type=text], input[type=password]{
    background-color: #EFEFEF;
    color:#8E8E8E;
    font-weight: bold;
    font-size: larger;
    border-color: #8E8E8E;
}

a{
    color: #8E8E8E;
}

input[type=submit]{
    background-color: black;
    border-color: black;
    color: white;
    font-weight: bold;
    font-size: larger;
    margin-bottom: 10px;
}

.ico-unlam{
    margin-bottom: 10px;
}


.icon-apparkme-pc{
    margin-right: 30px;
 }


.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

ion-content{
    --ion-background-color: #1D1935;
}